<!DOCTYPE html>
<html>

<head>
  {% for sheet in stylesheets %}
  <link rel="stylesheet" href="{{sheet}}">
  {% endfor %}
  <title>Reading Corner - Bookshelf</title>
</head>

<body>
  <div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
    <p class="flash-{{category}}">{{ message }}</p>
    {% endfor %}
    {% endwith %}
  </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #0d6efd !important">
    <div class="container-fluid">
      <div>
        <img class="dashboard" src="/static/img/icone.png" alt="Reading Corner Logo" style="margin-right: 15px;">
        <a class="navbar-brand text-white h1" href="#">Reading Corner</a>
      </div>
      <ul class="navbar-nav" style="margin-top: auto;">
        <li class="nav-item ">
          <a class="nav-link active text-white h5" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white h5" href="#">Profile</a>
        </li>
      </ul>
      
    </div>
  </nav>

  <div class="book-list">
    <h2 class="search-title">All your books added</h2>

    <div id="list-output" class="vertical-display">
      <div class="row-display">
        {% for image in books %}
        <!-- <div class="card" style="width: 18rem;"> -->
          <form action="/remove-book" method="POST" class="card" style="margin-right: 5px; margin-bottom: 10px;">
              <img src="{{image[0]}}" class="card-img-top"style="float: left;
              width:  300px;
              height: 400px;
              object-fit: cover;">
              <input type="hidden" name="isbn" value={{image[1]}}>
              <input type="submit"  value="Remove from by bookshelf" class="btn btn-danger">
            </form>
          {% endfor %}
          <!-- card  -->
          <!-- </div> -->
      </div>
    </div>
  </div>
  <a href="/dashboard">Return to dashboard</a>
</body>

</html>