<!DOCTYPE html>
<html>

<head>
  {% for sheet in stylesheets %}
  <link rel="stylesheet" href="{{sheet}}">
  {% endfor %}
  <link rel="icon" href="/static/img/icone.png">
  <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
  <script src="/static/js/dashboard.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <title>Reading Corner - Dashboard</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #0d6efd !important">
    <div class="container-fluid">
      <div class="header-placement">
        <img class="dashboard" src="/static/img/icone.png" alt="Reading Corner Logo" style="margin-right: 15px;">
        <a class="navbar-brand text-white h1" href="#">Reading Corner</a>
      </div>
      
    </div>
    <div>
      <button type="submit" id="quit-search" onclick="" hidden><i class="fa fa-times"></i></button>
    </div>
    <div style="margin: 0 15px;">
        <select class="form-select form-select-lg" id="selection-mode" style="font-size: 17px; width: auto;">
          <option value="title">Title</option>
          <option value="author">Author</option>
          <option value="subject">Subject</option>
        </select>
      </div>
      <div class="search-bar" style="margin: 0 15px;">
        <input class="form-control" id="search-box" type="text" placeholder="Search" onkeydown="search(this)">
        <button class="btn btn-primary" id="search" type="submit" onclick=''><i class="fa fa-search"></i></button>
      </div>
      <div class="col-sm-1 dropdown">
        <button><i class="fa fa-bars" aria-hidden="true"></i></button>
        <div class="dropdown-content">
          <a class="option-redirection" href="/profile">Profile</a>
          <a class="option-redirection" href="/bookshelf">View all books</a>
          <a class="option-redirection" href="/disconnect">Disconnect</a>
        </div>
      </div>
  </nav>
  <div class="container dashboard-header">
    <div class="flash">
      <!-- Flash messages -->
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% for category, message in messages %}
      <p class="flash-{{category}}">{{ message }}</p>
      {% endfor %}
      {% endwith %}
    </div>
    <div id="search-output">
      <!-- Book search Js -->
    </div>
    <div id="bookshelf" style="background-color: #F0FFFF;">
      {% if releases %}
      <h3 style="margin-top: 50px;"><i class="fa fa-bullhorn" aria-hidden="true"></i> New releases <a class="all"
          href="https://play.google.com/store/books/collection/cluster?clp=sgI2Ci4KKHByb21vdGlvbl8xMDAxY2M2X2FydHNfZW50ZXJ0YWlubWVudF9uZXcQRBgBIgQIBQgs:S:ANO1ljJsjec&gsr=CjmyAjYKLgoocHJvbW90aW9uXzEwMDFjYzZfYXJ0c19lbnRlcnRhaW5tZW50X25ldxBEGAEiBAgFCCw%3D:S:ANO1ljIBXTY&hl=en_US&gl=US" style="color: black; font-size: 28px;">See all new releases</a></h3>
      <div class="row" style="background-color: white; 
      margin-bottom: 50px;
      border: 2mm solid black;
      text-align:center;">

        {% for release in releases %}
        <div class="col" style="border-right: 1mm solid;">
          <img src="{{release.cover}}" alt="Book cover.">
          <h4>{{release.title}}</h4>
          <p>{{release.author}}</p>
          <div class="custom-button">
            <a href="{{release.link}}" target="_blank">
              <div>
                <span><i class="fa fa-book read-book" aria-hidden="true"></i></span>
                <span>Read book</span>
              </div>
            </a>
          </div>
          <div class="custom-button">
            <a href="/add-book">
              <div>
                <span><i class="fa fa-plus" aria-hidden="true"></i></span>
                <span>Add to bookshelf</span>
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      {% if number_of_books > 0 %}
      <h3><i class="fa fa-address-book-o" aria-hidden="true"></i> Currently reading <a class="all"
          href="/bookshelf" style="color: black;font-size: 28px;">See all books</a></h3>
      <div class="row" style="background-color: white;
      padding: 30px;
      margin-bottom: 50px;
      border: 2mm solid black;
      text-align: center;
      display: flex;
    align-items: flex-end;
    justify-content: center;">

        {% for book in current_books %}
        
        <div class="col" style="margin-top: 30px; max-width: 266px;">
          <img src="{{book.bookImg}}" alt="Book cover.">
          <h4>{{book.title}}</h4>
          <p>Page {{book.progress}}</p>
          <form method="POST">
            <div class="horizontal-view">
              <div class="inp-btn">
                <input type="hidden" name="isbn" value={{book.isbn}}>
                <input type="text" value="{{book.progress}}" name="page" class="form-control"  aria-label="Recipient's username" aria-describedby="basic-addon2" style="text-align: center;">
              </div>
              <div>
                <button name="page" type="submit" class="btn btn-primary" style="width: max-content; margin-left: 8px;">Update page count</button>
              </div>
          </div>
          </form>
          <form method="POST">
            <input type="hidden" name="isbn" value={{book.isbn}}>
            <button name="finished" type="submit" class="btn btn-primary" style="font-size: smaller;
            width: -webkit-fill-available;
            margin: 0 0 10px;">Set book as finished reading</button>
          </form>
          <div class="custom-button">
            <a target="_blank" href=/viewer class="btn btn-secondary" onclick = "readBook('{{book.isbn}}')">
              <div>
                <span><i class="fa fa-book" aria-hidden="true"></i></span>
                <span>Read book</span>
              </div>
            </a>
          </div>
          <div class="custom-button">
            <form action="/remove-current-book" method="POST">
              <input type="hidden" name="isbn" value={{book.isbn}}>
              <button type="submit" value="Remove from by bookshelf" class="naked-btn"><span><i class="fa fa-minus" aria-hidden="true"></i></span>
                <span>Delete from bookshelf</span></button>
            </form>
            
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      {% if number_of_books == 0 %}
      <h3>Not currently reading any books</h3>
      {% endif %}
    </div>
  </div>
</body>
<footer>
  <div class="mt-10 bg-light py-4">
    <div class="container">
      <p class="text-muted">© 2022 Reading Corner All rights reserved.</p>
    </div>
  </div>
</footer>

</html>