<!DOCTYPE html>
<html>

<head>
  {% for sheet in stylesheets %}
  <link rel="stylesheet" href="{{sheet}}">
  {% endfor %}
  <link rel="icon" href="/static/img/icone.png">
  <link rel="stylesheet" href="">
  <title>Reading Corner - Dashboard</title>
</head>

<body>
  <div class="container dashboard-header">
    <div class="flash">
      <!-- Flash messages -->
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% for category, message in messages %}
      <p class="flash-{{category}}">{{ message }}</p>
      {% endfor %}
      {% endwith %}
    </div>
    <div class="row">
      <div class="col col-md-1">
        <img class="dashboard" src="/static/img/icone.png" alt="Reading Corner Logo">
      </div>
      <div class="col">
        <h1>Reading Corner</h1>
      </div>
      <div class="col-sm-3 search-bar">
        <input type="text" placeholder="Search" name="search">
        <button type="submit" onclick=''><i class="fa fa-search"></i></button>
      </div>
      <div class="col-sm-1 dropdown">
        <button><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
        <div class="dropdown-content">
          <a href="/profile">Profile</a>
          <a href="/disconnect">Disconnect</a>
        </div>
      </div>
    </div>
    {% if releases %}
    <div class="row dashboard-section mt-5">

      <h3><i class="fa fa-bullhorn" aria-hidden="true"></i> New releases <a class="all"
          href="/dashboard/new-releases">See all new releases</a></h3>

      {% for release in releases %}
      <div class="col">
        <img src="{{release.cover}}" alt="Book cover.">
        <h4>{{release.title}}</h4>
        <p>{{release.author}}</p>
        <div class="custom-button">
          <a href="{{release.link}}" target="_blank">
            <div>
              <span><i class="fa fa-book read-book" aria-hidden="true"></i></span>
              <span>Read book</span>
            </div>
          </a>
        </div>
        <div class="custom-button">
          <a href="/add-book">
            <div>
              <span><i class="fa fa-plus" aria-hidden="true"></i></span>
              <span>Add to bookshelf</span>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% if books %}
    <div class="row dashboard-section mt-5">

      <h3><i class="fa fa-address-book-o" aria-hidden="true"></i> Bookshelf <a class="all"
          href="/dashboard/bookshelf">See all books</a></h3>

      {% for book in books %}
      <div class="col">
        <img src="{{book.cover}}" alt="Book cover.">
        <h4>{{book.title}}</h4>
        <p>{{book.author}}</p>
        <div class="custom-button">
          <a href="{{book.link}}" target="_blank">
            <div>
              <span><i class="fa fa-book read-book" aria-hidden="true"></i></span>
              <span>Read book</span>
            </div>
          </a>
        </div>
        <div class="custom-button">
          <a href="/delete-book">
            <div>
              <span><i class="fa fa-minus" aria-hidden="true"></i></span>
              <span>Delete from bookshelf</span>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</body>
<footer>
  <div class="mt-5 bg-light py-4">
    <div class="container">
      <p class="text-muted">© 2022 Reading Corner All rights reserved.</p>
    </div>
  </div>
</footer>

</html>