body {
    background-color: #F0FFFF;
}

.init-scale {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 50%;
    background-color: white;
    padding: 30px;
    border: 2mm ridge #077FFF;
}

.no-border {
    padding: 0;
    border: none;
    background: none;
    color: #077FFF;
    margin-top: 10px;
}