<!DOCTYPE html>
<html>

    <head>
        <title> Home</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/css/stylelog.css">  
    </head>

    <body>
        <nav>
            <label class="logo">Sign up</label>
        </nav>
        <form action="/register" method="POST">
            <div class="register">
                <div class="entry">
                    <label for="name">Username:</label>
                    <input type="text" id="username" name="username">
                </div>
                <div class="entry">
                    <label for="name">Password:</label>
                    <input type="password" id="password" name="password">
                </div>
                <div class="entry">
                    <input type="submit" value="Register">
                </div>
            </div>
        </form>
    </body>

</html>